<div>
    <h2>AMP Image</h2>
    <div>
        <label>Image Path</label>
        ${properties.image}
    </div>
    <div>
        <label>Width</label>
        ${properties.width}
    </div>
    <div>
        <label>Height</label>
        ${properties.height}
    </div>
    <div>
        <label>Text</label>
        ${properties.text}
    </div>
    <div>
        <label>Linked Image</label>
        <img src="${properties.image}" width="100" height="100" alt="${properties.text}" />
    </div>
</div>