<div>
    <h2>AMP Image</h2>
    <div>
        <label>Image Path</label>
        ${properties.fileReference}
    </div>
    <div>
        <label>Width</label>
        ${properties.width}
    </div>
    <div>
        <label>Height</label>
        ${properties.height}
    </div>
    <div>
        <label>Alt</label>
        ${properties.alt}
    </div>
    <div>
        <label>Linked Image</label>
        <img src="${properties.fileReference}" width="100" height="100" alt="${properties.alt}" />
    </div>
</div>