<style amp-custom>
    h2{
        position: relative;
        white-space: normal;
        color: #1B394E;
        font-size: 42px;
        font-weight: bold;
    }
    h4{
        font-size: 26px;
    }
    p{
        font-size: 14px;
    }
    @media (max-width: 900px) {
        h2{
            font-size: 26px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 12px
        }
    }
    @media (max-width: 660px) {
        h2{
            font-size: 16px;
        }
        h4{
            font-size: 12px;
        }
        p{
            font-size: 10px;
        }
    }

    .left{
        text-align: left;
    }
    .center{
        text-align: center;
    }
    .right{
        rext-align: right;
    }

    .ampLightboxImage{
        display: inline-block;
        margin-right: -4px;
        margin-top: -4px;
    }

    .amp-billboard h2{
        margin: 0;
        padding: 50px;
        text-transform: uppercase;
    }

    amp-iframe{
        min-height: 82px;
    }

    .amp-text
        max-width: 600px;
        padding: 10px;
    }
</style>