<style amp-custom>
    h2{
        position: relative;
        white-space: normal;
        color: #1B394E;
        font-size: 42px;
        font-weight: bold;
    }
    h4{
        font-size: 26px;
    }
    p{
        font-size: 14px;
    }
    @media (max-width: 900px) {
        h2{
            font-size: 26px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 12px
        }
    }
    @media (max-width: 660px) {
        h2{
            font-size: 16px;
        }
        h4{
            font-size: 12px;
        }
        p{
            font-size: 10px;
        }
    }

    .left{
        text-align: left;
    }
    .center{
        text-align: center;
    }
    .right{
        rext-align: right;
    }

    .ampLightboxImage{
        display: inline-block;
        margin-right: -4px;
        margin-top: -4px;
    }

    .amp-billboard h2{
        margin: 0;
        padding: 50px;
        text-transform: uppercase;
    }

    amp-iframe{
        min-height: 82px;
    }

    .billboard_1.amp-billboard {
        background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2franger_reveal_billboard_desktop_al.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
        background-position: center;
        background-size: cover;
        height: 612px;
    }
    @media (max-width: 900px) {
        .billboard_1.amp-billboard {
            background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2franger_reveal_billboard_desktop_al.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
            background-position: center;
            background-size: cover;
            height: 400px;
        }
    }
    @media (max-width: 660px){
        .billboard_1.amp-billboard {
            background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2franger_reveal_billboard_desktop_al.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
            background-position: center;
            background-size: cover;
            height: 200px;
        }
    }

    .billboard_2.amp-billboard {
        background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2f 2019_Ranger_BFT_219.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
        background-position: center;
        background-size: cover;
        height: 612px;
    }
    @media (max-width: 900px) {
        .billboard_2.amp-billboard {
            background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2f 2019_Ranger_BFT_219.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
            background-position: center;
            background-size: cover;
            height: 400px;
        }
    }
    @media (max-width: 660px){
        .billboard_2.amp-billboard {
            background-image: url("\2f content\2f dam\2fvdm_ford\2flive\2f en_us\2f ford\2fnameplate\2franger\2f 2019\2f collections\2f billboards\2f 3-2\2f 2019_Ranger_BFT_219.jpg\2f_jcr_content\2frenditions\2f cq5dam.web.1440.1440.jpeg");
            background-position: center;
            background-size: cover;
            height: 200px;
        }
    }
</style>